{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div class="container-fluid">
  <div class="row content">
    {% include "side.html" %}
    <div class="col-sm-9">
      <h2>Create License Key</h2>
      <div id="res"></div>
      <label for="mac">Mac address:</label>
      <input id="mac" type="text" />
      <br>
      <label for="username">Username:</label>
      <input id="username" type="text" />
      <br>
      <label for="pagecount">Page count:</label>
      <input id="pagecount" type="text" />
      <br>
      <label for="expireddate">Expired Date:</label>
      <input id="expireddate" type="text" />
      <br>
      <button id="insert" class="btn btn-primary">Create</button>
      <div id="mykey"></div>
    </div>
  </div>
</div>

<script>
  $('#insert').on('click', function() {
    $.ajax({
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: JSON.stringify({
        mac: $("#mac").val(),
        username: $("#username").val(),
        pagecount: $("#pagecount").val(),
        expireddate: $("#expireddate").val(),
      }),
      url: 'http://127.0.0.1:8000/insert/',
      success: function(data) {
        // const jsonPretty = JSON.stringify(data, null, '\t');
        // $("#res").text(jsonPretty);
        // console.log(data);
        $("#mykey").text(data["key"]);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $('#res').text(`${textStatus}`);
      },
    });
  });
</script>

{% endblock %}
