{% extends 'base.html' %}

{% block content %}

{% csrf_token %}
<script>
  function doSignout() {
    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/signout/",
      success: function (data) {
        window.location.href = "http://127.0.0.1:8000/";
      },
      error: function (xhr, textStatus, errorThrown) {
        $('#message').text(`${textStatus}`);
      },
    });
  }

  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $(document).ready(function () {
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
      }
    });

    console.log(document.cookie);

    $('#signout').on('click', doSignout);
  });
</script>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <!-- <div id="my-photo" class="my_photo">
          <img src="me.png" class="img-circle me">
        </div> -->
        <h3 style="text-align: center"><b>{{ACCOUNTNAME}}</b></h3>
        <li class="active">
          <a href="#"><i class="glyphicon glyphicon-th"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-user"></i> Account</a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-list-alt"></i> Course</a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-picture"></i> Visualization</a>
        </li>
        <li>
          <a id="signout" href="#"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h2>Hello</h2>     
    </div>
  </div>
</div>

{% endblock %}
