<script>
  function doSignout() {
    $.ajax({
      type: "POST",
      url: "http://{{WEBADDRESS}}:8000/signout/",
      success: function (data) {
        window.location.href = "http://{{WEBADDRESS}}:8000/";
      },
      error: function (xhr, textStatus, errorThrown) {
        $('#message').text(`${textStatus}`);
      },
    });
  }

  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $(document).ready(function () {
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
      }
    });

    $('#signout').on('click', doSignout);
  });
</script>

<div class="col-sm-3 sidenav">
  <ul class="nav nav-pills nav-stacked">
    <!-- <div id="my-photo" class="my_photo">
      <img src="me.png" class="img-circle me">
    </div> -->
    <h3 style="text-align: center"><b>{{ACCOUNTNAME}}</b></h3>
    <li id="dashboard">
      <a href="http://{{WEBADDRESS}}:8000/dashboard/"><i class="glyphicon glyphicon-th"></i> Dashboard</a>
    </li>
    <li id="account">
      <a href="http://{{WEBADDRESS}}:8000/account/"><i class="glyphicon glyphicon-user"></i> Account</a>
    </li>
    <li id="course">
      <a href="http://{{WEBADDRESS}}:8000/course/"><i class="glyphicon glyphicon-list-alt"></i> Course</a>
    </li>
    <li id="visualization">
      <a href="http://{{WEBADDRESS}}:8000/visualization/"><i class="glyphicon glyphicon-picture"></i> Visualization</a>
    </li>
    <li>
      <a id="signout" href="#"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
    </li>
  </ul>
</div>
<script>
  const pageId = "{{PAGEID}}";
  $(`#${pageId}`).addClass("active");
</script>