<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Auth Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      // $('#signin').on('click', function() {
      //   $.ajax({
      //     type: 'POST',
      //     dataType: 'json',
      //     contentType: 'application/json',
      //     headers: {'X-CSRFToken': '{{ csrf_token }}'},
      //     data: JSON.stringify({
      //       username: $('#username').val(),
      //       password: $('#password').val()
      //     }),
      //     url: 'http://127.0.0.1:8000/do_signin/',
      //     success: function(data) {
      //       console.log(data);
            
      //       // can not set token to header when redirect, use cookie based
      //       window.location.href = "http://127.0.0.1:8000/";
      //     },
      //     error: function(xhr, textStatus, errorThrown) {
      //       $('#res').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      //     },
      //   });
      // });
    });
  </script>
  <style>
    .row.content {height: 1500px}
    
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>My Test</h4>
    </div>
    <div class="col-sm-9">
      <form action="/do_signin/" method="post">
        {% csrf_token %}
        <label for="username">Account:</label>
        <input type="text" name="username" value="" id="username"> <br />
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password"> <br />
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</div>
</body>
</html>
