<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {% csrf_token %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script>
    function doSubmit(e) {
      e.preventDefault();
  
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/dosignin/",
        data: $(this).serialize(),
        success: function (data) {
          $("#signinModal").modal("hide");
        },
        error: function (xhr, textStatus, errorThrown) {
          $('#message').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
        },
      });
    }

    function doSignout() {
      $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/dosignout/",
        success: function (data) {
          window.location.href = "http://127.0.0.1:8000/";
        },
        error: function (xhr, textStatus, errorThrown) {
          $('#message').text(`${textStatus}`);
        },
      });
    }

    function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
  
    $(document).ready(function () {
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
          }
        }
      });
      $('#signout').on('click', doSignout);
  
      // We need to set
      //   SESSION_COOKIE_HTTPONLY = False
      // so we can use Cookies.get('sessionid') here...
      // console.log(Cookies.get('sessionid'))

      if (Cookies.get('sessionid') === '' || 
        Cookies.get('sessionid') === null ||
        Cookies.get('sessionid') === undefined) 
      {
        $("#signinModal").modal({
          backdrop: 'static',
          keyboard: false
        });

        $('#loginform').submit(doSubmit);
      }
      
    });
  </script>
  <style>
    .row.content {height: 1500px}
    
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#tabThreshold" data-toggle="tab">Threshold</a></li>
          <li><a href="#tabBlur" data-toggle="tab">Blur</a></li>
          <li><a href="#tabPara" data-toggle="tab">Paragraph</a></li>
          <li><a href="#tabTable" data-toggle="tab">Table</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="width:100%">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tabThreshold">
        <h2>Hello</h2>
        <button type="button" id="signout" class="btn btn-primary">Sign out</button>
      </div>
      <div class="tab-pane fade" id="tabBlur">
        <h2>Blur</h2>
      </div>
      <div class="tab-pane fade" id="tabPara">
        <h2>Paragraph</h2>
      </div>
      <div class="tab-pane fade" id="tabTable">
        <h2>Table</h2>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signinModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="signinTitle" class="modal-title">Signin</h4>
        </div>
        <div class="modal-body">
          <div id="message" style="color: red"></div>
          <form id="loginform" method="post">
            <label for="account">Account:</label>
            <input name="account" id="account" style="width:100%;"></input>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" style="width:100%;"></input>
            <hr>
            <input class="btn btn-primary" type="submit" id="signin" value="login"></input>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
